.App {
  background-color: #FFEEC4;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content {
  padding: 20px;
  color: #212121;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.marginRight {
  margin-right: 20px;
}
