.App {
  background-color: #FFEEC4;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content {
  padding: 20px;
  color: #212121;
}

img {
  max-width: 600px;
  min-width: 600px;
}

.card {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.marginRight {
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  img {
    width: 100%;
  }

  .card {
    min-width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
}